
@{
    ViewBag.Title = "Not Authorized";
}
<div class="row text-center">
    <div class="jumbotron">
        <h2>You're Not Authorized<small> If you believe this is an error contact support.</small></h2>
    </div>
</div>


