body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.ql-container{
    margin-bottom:15px;
}
.breadCrumbText{
    font-size: 1.2em;
    padding: 5px;
    font-variant: all-petite-caps;
}
.breadCrumbIcon{
    font-size: .8em;
}
.page-header {
    border-bottom: none;
}
.input-group-addon {
  background-color: #ffffff;
}
.uploadImgHolder{
    margin-top: 10px;
    background-color: #eeeeee;
}
.img-thumbnail{
    background-color: #eeeeee;
}
#external{
    width:100%;
    height:400px;
}
.adminHeadingText{
    font-size:2em;
}
.modal-footer {
    padding: 0px 20px 20px;
    text-align: right;
    border:none;
}
.modal-dialog{
    padding-top:15%;
}
